<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

	<link rel="stylesheet" href="{% static 'css/admin.css' %}">

	<title>Movie Tickets</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<span class="text">Movie Administration</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">

					<span class="text">Manage Movies</span>
				</a>
			</li>
			<li>
				<a href="">

					<span class="text">Manage users</span>
				</a>
			</li>
			<li>
				<a href="#">

					<span class="text">Manage administration</span>
				</a>
			</li>
			<li>
				<a href="#">

					<span class="text">Manage Promotions</span>
				</a>
			</li>
			<li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#" class="logout">

					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<a href="#" class="profile">
				<img src="images/user/user1.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Manage Movies</h1>
				</div>
			</div>
			<div class="table-data">
				<div class="order">
					<div class="head">
						{% load crispy_forms_tags %}
    					{% block addmovie %}
						<h3>Add Movies</h3></div>
							<div class="content">
							  <form action="#", method="POST">
								{% csrf_token %}
								<div class="user-details">
								  <div class="input-box">
									{{ form.title|as_crispy_field }}
								  </div>
								  <div class="input-box">
									{{ form.director|as_crispy_field }}
								  </div>
								  <div class="input-box">
									{{ form.producer|as_crispy_field }}
								  </div>
								  <div class="input-box">
									{{ form.synopsis|as_crispy_field }}
								  </div>
								  <div class="input-box">
									{{ form.rating|as_crispy_field }}
								  </div>
								  <div class="input-box">
									{{ form.picture|as_crispy_field }}
								  </div>
								  <div class="input-box">
									{{ form.trailer|as_crispy_field }}
								  </div>
								  <div class="input-box">
									{{ form.category|as_crispy_field }}
								  </div>
								</div>
								<div class="button">
								  <input type="submit" value="Submit">
								</div>
							  </form>
							</div>
						  </div>
						{% endblock %}
				</div>
			</div>
			<div class="table-data">
				<div class="order">
					<div class="head">
						{% load crispy_forms_tags %}
    					{% block schedulemovie %}
						<h3>Schedule a Movie</h3></div>
							<div class="content">
							  <form action="#", method="POST">
								{% csrf_token %}
								<div class="user-details">
								  <div class="input-box">
									{{ form2.movie|as_crispy_field }}
								  </div>
								  <div class="input-box">
									{{ form2.time|as_crispy_field }}
								  </div>
								</div>
								<div class="button">
								  <input type="submit" value="Submit">
								</div>
							  </form>
							</div>
						  </div>
						{% endblock %}
				</div>
			</div>
		</main>

		<!-- MAIN -->
	</section>


	<script src="js/admin.js"></script>
</body>
</html>