<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
</head>
<body>
    
{% block body %}
<div class="row">
    <div class="col-75">
      <div class="container">
        <h1>Choose from saved cards:</h1>
        <form method="post" name="cards">
          {% csrf_token %}
          <input type="hidden" name="name" value="cardsForm">
          {% for account in accounts %}
            <label for="card">{{account.accountID}}</label>
            <input type="radio" id="card" name="card"><br>
          {% endfor %}
          <input type="submit" class="Btn" value="Use this card">
        </form>

          <h1>Alternate checkout:</h1>
          <form method="post" name="cardinfoForm">
          {% csrf_token %}
          <div class="row">
            <div class="col-50">
              <h3>Billing Address</h3>
              <input type="hidden" name="name" value="cardinfoForm">
              <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
              <input type="text" id="adr" name="address" >
              <label for="city"><i class="fa fa-institution"></i> City</label>
              <input type="text" id="city" name="city" >

              <div class="row">
                <div class="col-50">
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" >
                </div>
                <div class="col-50">
                  <label for="zip">Zip</label>
                  <input type="text" id="zip" name="zip" >
                </div>
              </div>
            </div>

            <div class="col-50">
              <h3>Payment</h3>
              <label>Accepted Cards</label>
              <div class="icon-container">
              VISA, MASTERCARD, AMEX
              </div><br>
              <label for="ccnum">Credit card number</label>
              <input type="text" id="ccnum" name="cardnumber" >
              <label for="exp">Exp Date</label>
              <input type="date" id="exp" name="exp">
            </div>
  
          </div>
          <div>
          <input type="submit"  value="Book now" class="btn">
       </div>
    </a>
        </form>
      </div>
    </div>
  
    <div class="col-25">
      <div class="container">
        <h3>Cart
         
        </h3>
        <p><img src="{{movie.trailer_picture}}" width="100px";height="150px"><br><br> {{movie.title}}<br>
          {{showtime.time}}<br>
          <p>Seats:</p>
          {% for ticket in tickets %}
          {{ticket.seatNum}}
          {% endfor %}
          <span class="price">
            ${{seatprices}}
          </span></p>
        <p>Taxes<span class="price">${{tax}}</span></p>

        <hr>
        <form method="post" name="promoForm">
          <div class="col-50">
            <input type="hidden" name="name" value="promoForm">
              <label for="promo">Enter Promotion:</label>
              <input type="text" id="promo" name="promo" >
          </div>
        </form>
        <p>Total <span class="price" style="color:black"><b>${{total}}</b></span></p>
      </div>
    </div>
  </div>
</body>
{% endblock %}
</html>