<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css%22%3E">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Forgot Password</title>
</head>
<body>

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        <label for="username">Username:</label><br>
                        <input type="text" id="username" name="username" placeholder="Enter your username" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <label for="password">New password:</label><br>
                        <input type="password" id="password" name="password" class="password" placeholder="Enter your new password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Submit" name="login_now">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>