<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MovieTickets</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" >
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" >
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/slick-animation.css' %}" >
   <link rel="stylesheet" href="{% static 'css/style.css' %}" >
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
</head>

<body>
  <header id="main-header">
    <div class="main-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
              <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="navbar-toggler-icon" data-toggle="collapse">
                  <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                  <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                  <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                </div>
              </a>
              <a href="{% url 'index' %}" class="navbar-brand">
               <h4 style="margin-right:1100px;">MovieTickets</h4>
              </a>



              <div class="navbar-right menu-right">
                <ul class="d-flex align-items-center list-inline m-0">
                  <li class="nav-item nav-icon">
                    <a href="#" class="search-toggle device-search">
                       <img src="static\admin\img\gis\search.png" class="img-fluid user-m rounded-circle"  />
                    </a>
                    {% block content %}
                    <div class="search-box iq-search-bar d-search">
                      <form action="#" class="searchbox" method="POST">
                        {% csrf_token %}
                        <div class="form-group position-relative">
                          <input type="text" name="search" class="text search-input font-size-12"
                            placeholder="type here to search..." />

                        </div>
                      </form>
                    </div>
                    {% endblock %}
                  </li>
                  <li class="nav-item nav-icon">
                    <a href="#" class="iq-user-dropdown search-toggle d-flex align-items-center p-0">
                      <img src="static\admin\img\gis\user.png" class="img-fluid user-m rounded-circle"  />
                    </a>
                    <div class="iq-sub-dropdown iq-user-dropdown">
                      <div class="iq-card shadow-none m-0">
                        <div class="iq-card-body p-0 pl-3 pr-3">
                          <a href="#" class="iq-sub-card setting-dropdown">
                              {% if user.is_authenticated %}
                                {% if user.is_staff %}
                                <a href="{% url 'adminpage' %}"><div class="media-body ml-3">
                                {% endif %}
                                {% if not user.is_staff %}
                                <a href="{% url 'user-profile' %}"><div class="media-body ml-3">
                                {% endif %}
                                <h6 class="mb-0" >Profile</h6>
                              {% endif %}
                              </div></a>
                                {% block usercontent %}
                                {% if user.is_authenticated %}
                                <h6 class="mb-0">Hi {{ user.username }}!</h6>
                                {% endif %}
                                {% if not user.is_authenticated %}
                                <a href="{% url 'login' %}"><div class="media-body ml-3">
                                <h6 class="mb-0">Signup/Login</h6>
                              </div></a>
                                {% endif %}
                              {% endblock %}
                              <a href="{% url 'logout' %}"><div class="media-body ml-3">
                                <h6 class="mb-0">Logout</h6>
                              </div></a>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="nav-overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- slider starts  -->
 <!-- <section id="home" class="iq-main-slider p-0">
    <div id="home-slider" class="slider m-0 p-0">
      <div class="slide slick-bg s-bg-1">
        <div class="container-fluid position-relative h-100">
          <div class="slider-inner h-100">
            <div class="row align-items-center h--100">
              <div class="col-xl-6 col-lg-12 col-md-12">
                <a href="javascript:void(0)">
                </a>
                <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                data-delay-in="0.6">
                Uncharted
              </h1>
                <div class="d-flex flex-wrap align-items-center fadeInLeft animated" data-animation-in="fadeInLeft"
                  style="opacity: 1">
                </div>
                <div class="d-flex align-items-center r-mb-23 mt-4" data-animation-in="fadeInUp" data-delay-in="0.7">
                  <a href="#" class="btn btn-hover iq-button"><i class="fa fa-play mr-3"></i>Book Now</a>
                </div>
              </div>
            </div>
            <p></p>


            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=4wCH1K-ckZw">
              <div class="col-xl-5 col-lg-12 col-md-12 trailor-video">
                <span class="w-trailor">Watch Trailer</span></div></a>

          </div>
          </div>

      </div>
      <div class="slide slick-bg s-bg-2">
        <div class="container-fluid position-relative h-100">
          <div class="slider-inner h-100">
            <div class="row align-items-center h--100">
              <div class="col-xl-6 col-lg-12 col-md-12">
                <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                data-delay-in="0.6">
                Batman
              </h1>
                <div class="d-flex align-items-center r-mb-23 mt-4" data-animation-in="fadeInUp" data-delay-in="0.7">
                  <a href="#" class="btn btn-hover iq-button"><i class="fa fa-play mr-3"></i>Book Now</a>
                </div>
              </div>
            </div>
            <p></p>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=mqqft2x_Aa4">
              <div class="col-xl-5 col-lg-12 col-md-12 trailor-video">
                <span class="w-trailor">Watch Trailer</span></div></a>
          </div>
        </div>
      </div>
      <div class="slide slick-bg s-bg-3">
        <div class="container-fluid position-relative h-100">
          <div class="slider-inner h-100">
            <div class="row align-items-center h--100">
              <div class="col-xl-6 col-lg-12 col-md-12">
                <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                data-delay-in="0.6">
                The Dog
              </h1>
                <div class="d-flex align-items-center r-mb-23 mt-4" data-animation-in="fadeInUp" data-delay-in="0.7">
                  <a href="#" class="btn btn-hover iq-button"><i class="fa fa-play mr-3"></i>Book Now</a>
                </div>
              </div>
            </div>
            <p></p>
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=V4tAtp-TyzQ">
              <div class="col-xl-5 col-lg-12 col-md-12 trailor-video">
                <span class="w-trailor">Watch Trailer</span></div></a>
          </div>
        </div>
      </div>
    </div>
  </section>
 -->
  <div class="main-content">


    <div class="main-content">


      <section id="iq-favorites">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 overflow-hidden">
              <div class="iq-main-header d-flex align-items-center justify-content-between">
                <h4 class="main-title">IN CINEMA</h4>
              </div>
              <div class="favorite-contens">
                <ul class="favorites-slider list-inline row p-0 mb-0">
               {% block list %}
               {% for movie in playing_now %}
                  <li class="slide-item">
                    <div class="block-images position-relative" style="margin-left: 30px">
                      <div class="img-box">
                        <img src="{{ movie.trailer_picture }}"class="img-fluid" alt="" style="height: 320px; width: 300px;" />
                      </div>
                      <div class="block-description">
                        <h6 class="iq-title">
                          <a href="#">{{ movie.title }} </a>
                        </h6>
                        <div style="max-width:75%;margin:0 auto;">
                          <a class="popup-youtube" href="{{movie.trailer_video}}">
                          <span class="btn btn-hover iq-button">
                            <i class="fa fa-play mr-1"></i>
                            Watch Trailer</a>
                          </span>
                        </div>
                        <div class="hover-buttons">
                          {% with temp=movie.title %}
                          <a href="{% url 'booking' %}?movie={{temp}}">
                          <span class="btn btn-hover iq-button">
                            <i class="fa fa-ticket mr-1"></i>
                            Book Now</a>
                          {% endwith %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% endblock %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>



    <section id="iq-upcoming-movie">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 overflow-hidden">
            <div class="iq-main-header d-flex align-items-center justify-content-between">
              <h4 class="main-title">Coming Soon</h4>
            </div>
            <div class="favorite-contens">
              <ul class="favorites-slider list-inline row p-0 mb-0">
                {% block soon %}
                {% for mov in coming_soon %}
                <li class="slide-item">
                  <div class="block-images position-relative" style="margin-left: 30px">
                    <div class="img-box">
                      <img src="{{ mov.trailer_picture }}" class="img-fluid" alt="" style="height: 320px; width: 300px;" />
                    </div>
                    <div class="block-description">
                      <h6 class="iq-title">
                        <a href="#"> {{mov.title}}</a>
                      </h6>

                      <div style="max-width:75%;margin:0 auto;">
                        <a class="popup-youtube" href="{{mov.trailer_video}}">
                        <span class="btn btn-hover iq-button">
                          <i class="fa fa-play mr-1"></i>
                          Watch Trailer</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
                {% endfor %}
                {% endblock %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>







    <footer>
      <p style="text-align: right;padding-right: 20px;">Copyright &copy; MovieTicket</p>
    </footer>


  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/slick.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/slick-animation.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
