<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Movie</title>
    
    <link rel="stylesheet" href="{% static 'css/movieselect.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
</head>
<body>
  <header class="site-header">
    <div class="site-identity">
      <h1><a href="index.html">MovieTicket</a></h1>
    </div>
      {% block header %}
    <nav class="site-navigation">
      <ul class="nav">
        <li><a href="{% url 'user-profile' %}">Account</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
      </ul>
    </nav>
      {% endblock %}
  </header>
    <script>
        $(function() {
    $('.popup-youtube, .popup-vimeo').magnificPopup({
        disableOn: 700,
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,
        fixedContentPos: false
    });
});
    </script>
    {% block movie %}
    <div class="container movie-details">
        <div class="row">
          <div class="col-md-6 left-box">
            <h1>{{ movie.title }}</h1>
            <p style="font-size: 20px;">Description<br>
                {{ movie.synopsis }}</p>
                <br><p  style="font-size: 20px;">Genre: <br>
                    {{ movie.cat }}</p>
    
              
        
              <div >
                <a class="popup-youtube" href="{{ movie.trailer_video }}">
                <span class="btn btn-hover iq-button">
                  
                  Watch Trailer</a>
                </span>
              </div>
          </div>
        </div>
      </div>
        {% endblock %}
        {% block showtimes %}
        <div>
          <p style="font-size: 40px;font-family:Poppin;font-weight: 500;color: white;margin-left: 30px;">Select ShowTime</p><br>
          {% for show in showtimes %}
            {% with temp=show.time %}
            <a href="{% url 'seatselect' %}?time={{temp}}" class="myButton">{{ show.time }}</a><br>
            {% endwith %}
          {% endfor %}
        </div>
        {% endblock %}
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
</body>
</html>