<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Movie</title>
    
    <link rel="stylesheet" href="css/movieselect.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
</head>
<body>
  <header class="site-header">
    <div class="site-identity">
      <h1><a href="index.html">MovieTicket</a></h1>
    </div>  
    <nav class="site-navigation">
      <ul class="nav">
        <li><a href="user-profile.html">Account</a></li> 
        <li><a href="registration.html">Login</a></li> 
        <li><a href="#">Log out</a></li> 
      </ul>
    </nav>
  </header>
    <script>
        $(function() {
    $('.popup-youtube, .popup-vimeo').magnificPopup({
        disableOn: 700,
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,
        fixedContentPos: false
    });
});
    </script>
    <div class="container movie-details">
        <div class="row">
          <div class="col-md-6 left-box">
            <h1>DUNE</h1>
            <p style="font-size: 20px;">Description<br>
                Paul Atreides, a brilliant and gifted young man born into a great destiny beyond his understanding, must travel to the most dangerous planet in the universe to ensure the future of his family and his people. As malevolent forces explode into conflict over the planet's exclusive supply of the most precious resource in existence, only those who can conquer their own fear will survive.</p>
            <br><p  style="font-size: 20px;">Cast: <br>
                Timothée Chalamet, Rebecca Ferguson, Oscar Isaac, Jason Momoa, Stellan Skarsgård, Stephen McKinley Henderson</p>
                <br><p  style="font-size: 20px;">Genres: <br>
                    Action, Science fiction, Adventure, Drama, Fantasy</p>
    
              
        
              <div >
                <a class="popup-youtube" href="https://www.youtube.com/watch?v=8g18jFHCLXk"> 
                <span class="btn btn-hover iq-button">
                  
                  Watch Trailer</a>
                </span>
              </div>
          </div>
        </div>
      </div>
      <div>
          <p style="font-size: 40px;font-family:Poppin;font-weight: 500;color: white;margin-left: 30px;">Select ShowTime</p>
          <br>
          <p  style="font-size: 20px;font-family:Poppin;font-weight: 200;color: white;margin-left: 40px;" >02/21/2022- Monday<br></p></br>
          <a href="seatselection.html" class="myButton">3:15 PM</a><br>
          <p  style="font-size: 20px;font-family:Poppin;font-weight: 200;color: white;margin-left: 40px;" >02/22/2022- Tuesday<br></p></br>
         <div class="container" style="display:flex"><a href="seatselection.html" class="myButton">3:15 PM</a><br>
            <a href="seatselection.html" class="myButton">4:15 PM</a><br>
            <a href="seatselection.html" class="myButton">7:15 PM</a><br></div>
          <p  style="font-size: 20px;font-family:Poppin;font-weight: 200;color: white;margin-left: 40px;" >02/23/2022- Wednesday<br></p></br>
          <div class="container" style="display:flex"><a href="seatselection.html" class="myButton">3:15 PM</a><br>
            <a href="seatselection.html" class="myButton">10:45 AM</a><br>
            <a href="seatselection.html" class="myButton">12:30 PM</a><br></div>
            <p  style="font-size: 20px;font-family:Poppin;font-weight: 200;color: white;margin-left: 40px;" >02/24/2022- Thursday<br></p></br>
          <a href="seatselection.html" class="myButton">3:15 PM</a><br></div>
          <p  style="font-size: 20px;font-family:Poppin;font-weight: 200;color: white;margin-left: 40px;" >02/25/2022- Friday<br></p></br>
         <div class="container" style="display:flex"><a href="seatselection.html" class="myButton">3:15 PM</a><br>
            <a href="seatselection.html" class="myButton">4:15 PM</a><br>
            <a href="seatselection.html" class="myButton">7:15 PM</a><br></div>
          <p  style="font-size: 20px;font-family:Poppin;font-weight: 200;color: white;margin-left: 40px;" >02/26/2022- Saturday<br></p></br>
          <div class="container" style="display:flex"><a href="seatselection.html" class="myButton">3:15 PM</a><br>
            <a href="seatselection.html" class="myButton">10:45 AM</a><br>
            <a href="seatselection.html" class="myButton">12:30 PM</a><br></div>
            
      </div>
      <script src="js/jquery.magnific-popup.min.js"></script>
</body>
</html>