<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Registration</title>
</head>
<body>
    {% load crispy_forms_tags %}
    {% block content %}
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Register</span>
                    <form method ="POST" class ="form-group">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="input-field">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="input-field">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="input-field">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="input-field">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="input-field" id="custom">
                        {{ form.password2|as_crispy_field }}
                    </div>
                    <div class="input-field">
                        <button type=submit" class ="btn btn-success">Register</button>
                    </div>
                </form>
            </div>
            <p>Already have an account?</p>
            <a href="{% url 'login' %}">Login Here!</a>
        </div>
    </div>
    {% endblock %}
</body>
</html>

