<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Registration</title>
</head>
<body>
    {% block title %}Create an Account{% endblock %}
    {% load crispy_forms_tags %}
    {% block content %}
        <form method ="POST" class ="form-group">
            {% csrf_token %}
            {{ form|crispy }}

            <button type=submit" class ="btn btn-success">Register</button>
        </form>
    {% endblock %}
    <p>Already have an account?</p>
    <a href="{% url 'login' %}">Login Here!</a>
</body>
</html>

