<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MovieTickets</title>
  <<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" >
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" >
  <link rel="stylesheet" href="css/select2.min.css" />
  <link rel="stylesheet" href="{% static 'css/slick-animation.css' %}" >
  <link rel="stylesheet" href="style.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
  <style>





    #movie {
  padding: 20px 30px 20px 15px;
  border: 3px solid #1c2a4f;
  border-radius: 10px;
  margin-bottom: 20px;
      margin-left: 60px;
      width: 50%;

    }
    .movie_left {
      display: inline-block;
    }
    .movie_right {
      display: inline-block;
      margin-left: 20px;
    }
    .img {
      height: 300px;
      width: 250px;
    }
  #movie .watch-btn{
  width: 200px;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
  color: black;
  transition: all 0.5s ease;
}

  </style>


</head>
<body>
  <header id="main-header">
    <div class="main-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
              <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="navbar-toggler-icon" data-toggle="collapse">
                  <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                  <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                  <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                </div>
              </a>
              <a href="index.html" class="navbar-brand">
               <h4 style="margin-right:1100px;">MovieTickets</h4>
              </a>



              <div class="navbar-right menu-right">
                <ul class="d-flex align-items-center list-inline m-0">
                  <li class="nav-item nav-icon">
                    <a href="#" class="search-toggle device-search">
                      <i class="fa fa-search"></i>
                    </a>
                    <div class="search-box iq-search-bar d-search">
                      <form action="#" class="searchbox" method="POST">
                        {% csrf_token %}
                        <div class="form-group position-relative">
                          <input type="text" name="search" class="text search-input font-size-12"
                            placeholder="type here to search..." />
                          <button type="submit" class="search-link fa fa-search"></button>
                        </div>
                      </form>
                    </div>
                  </li>
                  <li class="nav-item nav-icon">
                    <a href="#" class="iq-user-dropdown search-toggle d-flex align-items-center p-0">
                      <img src="images/user/user.png" class="img-fluid user-m rounded-circle"  />
                    </a>
                    <div class="iq-sub-dropdown iq-user-dropdown">
                      <div class="iq-card shadow-none m-0">
                        <div class="iq-card-body p-0 pl-3 pr-3">
                          <a href="#" class="iq-sub-card setting-dropdown">
                            <div class="media align-items-center">
                              <div class="right-icon">
                                <i class="fa fa-user text-primary"></i>
                              </div>
                              {% if user.is_authenticated %}
                                {% if user.is_staff %}
                                <a href="{% url 'adminpage' %}"><div class="media-body ml-3">
                                {% endif %}
                                {% if not user.is_staff %}
                                <a href="{% url 'user-profile' %}"><div class="media-body ml-3">
                                {% endif %}
                                <h6 class="mb-0" >Profile</h6>
                              {% endif %}
                              </div></a>
                                {% block content %}
                                {% if user.is_authenticated %}
                                <h6 class="mb-0">Hi {{ user.username }}!</h6>
                                {% endif %}
                                {% if not user.is_authenticated %}
                                <a href="{% url 'login' %}"><div class="media-body ml-3">
                                <h6 class="mb-0">Signup/Login</h6>
                              </div></a>
                                {% endif %}
                              {% endblock %}
                              <a href="{% url 'logout' %}"><div class="media-body ml-3">
                                <h6 class="mb-0">Logout</h6>
                              </div></a>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="nav-overlay"></div>
          </div>
        </div>
      </div>
    </div>
    {% block list %}
    {% if not matches %}
    <p>Sorry, no movies or categories matching your search were found.</p>
    {% else %}
    {% for movie in matches %}
    <div id="movie">
      <div id="movie_left">
        <img src="{{ movie.trailer_picture }}">
      </div>
      <div id="movie_right">
        <h1>{{ movie.title }}</h1>
        <p>{{ movie.rating }}</p>
         <p class="movie-shorts">{{ movie.synopsis }}</p>
         <div class="hover-buttons">
                          <a style="color:black;font-size:40px" class="popup-youtube" href="{{movie.trailer_video}}">
                          <span class="btn btn-hover iq-button">
                            <i class="fa fa-play mr-1"></i>
                            Watch Trailer</a>
                          </span>
                        </div>
        {% if movie.playing_now %}
          {% with temp=movie.title %}
          <a style="color:black" href="{% url 'booking' %}?movie={{temp}}">Book Now</a>
          {% endwith %}
        {% endif %}
        {% if not movie.playing_now %}
        <p>Coming Soon.</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock %}
  </header>



  <footer>
      <p style="text-align: right;padding-right: 20px;">Copyright &copy; MovieTicket</p>
    </footer>


  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/slick-animation.min.js"></script>

  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
