<html lang="en">
{% load static %}
{% load mathfilters %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/seatselection.css' %}" />
  <title>Movie Seat Booking</title>
</head>

<body>
  {% block content %}
  <div class="movie-container">
    
    <select id="movie">
      <option value="15">{{ movie.title }} {{ showtime.time }}</option>
    </select>
    
      <ul class="showcase">
    <li>
      <div class="seat"></div>
      <small>Available</small>
    </li>
    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat occupied"></div>
      <small>Occupied</small>
    </li>
  </ul>
  </div>



  <div class="container">
    <div class="screen"></div>
    <form action="" method="POST">
      {% csrf_token %}
      <br>
      {% block list %}
      {% for seat in seats %}
        {% if forloop.counter0|mod:7 == 0 or forloop.counter0 == 0 %}
          <div class="row">
            <input type="checkbox" name='seat' value="{{seat.seatNum}}" class="seat">
        {% else %}
          <input type="checkbox" name='seat' value="{{seat.seatNum}}" class="seat">
        {% if forloop.counter0|div:6 == 1 or forloop.counter0|div:13 == 1 %}
          </div>
        {% endif %}
        {% endif %}
      {% endfor %}
      {% endblock %}
      </div>
    </div>
    <p class="text">
      You have selected <span id="count">0</span> seats
    </p>
    <div>
      <input type="submit"  value="Proceed to payment" class="btn">
    </div>

  </form>
  <script src="{% static 'js/seatselection.js' %}"></script>
  {% endblock %}
</body>
