<html lang="en">
{% load static %}
{% load mathfilters %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/seatselection.css' %}" />
  <title>Movie Seat Booking</title>
</head>

<body>
  {% block content %}
  <div class="movie-container">
    
    <select id="movie">
      <option value="15">{{ movie.title }} {{ showtime.time }}</option>
    </select>
    
      <ul class="showcase">
    <li>
      <div class="seat"></div>
      <small>Available</small>
    </li>
    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat occupied"></div>
      <small>Occupied</small>
    </li>
  </ul>
  </div>

  <div class="container">
    <div class="screen"></div>
    <br>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <input type="button" class="seat" value="A1" name="A1">
        <input type="button" class="seat" value="A2" name="A2">
        <input type="button" class="seat" value="A3" name="A3">
        <input type="button" class="seat" value="A4" name="A4">
        <input type="button" class="seat" value="A5" name="A5">
        <input type="button" class="seat" value="A6" name="A6">
        <input type="button" class="seat" value="A7" name="A7">
      </div>
      <div class="row">
        <input type="button" class="seat" value="B1" name="B1">
        <input type="button" class="seat" value="B2" name="B2">
        <input type="button" class="seat" value="B3" name="B3">
        <input type="button" class="seat" value="B4" name="B4">
        <input type="button" class="seat" value="B5" name="B5">
        <input type="button" class="seat" value="B6" name="B6">
        <input type="button" class="seat" value="B7" name="B7">
      </div>
      <div class="row">
        <input type="button" class="seat" value="C1" name="C1">
        <input type="button" class="seat" value="C2" name="C2">
        <input type="button" class="seat" value="C3" name="C3">
        <input type="button" class="seat" value="C4" name="C4">
        <input type="button" class="seat" value="C5" name="C5">
        <input type="button" class="seat" value="C6" name="C6">
        <input type="button" class="seat" value="C7" name="C7">
      </div>
      <div><a href="{% url 'orderedit' %}"/><input type="submit"value="Proceed to Payment" class="btn"></a></div>
    </form>
  </div>

  <p class="text">
    You have selected <span id="count">0</span> seats for a total price of $<span id="total">0</span>
  </p>
  <script src="{% static 'js/seatselection.js' %}"></script>
  {% endblock %}
</body>
