<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

</head>
<body>
    <div class="wrapper">
    <div class="left">
        <img src="images/favorite/f2.jpg" alt="user" width="300px"height="300px">
        <h2>Brad Smith</h2>
    </div>
    <div class="right">
        <div class="info">
           <div><h1>Information </h1><p style="margin-left: 650px;"><a href="{% url 'editprofile' %}"/> Edit</p></a></div>
            <div class="info_data">
                 <div class="data">
                    <h2>Email</h2>
                    <p>brad@gmail.com</p>
                 </div>
                 <div class="data">
                   <h2>Phone</h2>
                    <p>0001-213-998761</p>
              </div>
              
            </div>
            <div class="data">
                <h2>Location</h2>
                 <p>Athens</p>
           </div>

        </div>
      <div>
          <h2>Prefered Genres</h2>
          <p>Action, Comedy, Sci-fi</p>
      </div>
      <br>
      <div class="">
            <h2>Recent Booking</h2>
            <div class="projects_data">
                 <div class="data">
                    <h4>Avatar</h4>
                    <p>01/20/2022</p>
                 </div>
                 <div class="data">
                   <h4>$36</h4>
                    <p>2 Tickets</p>
              </div>
            </div>
            <div class="projects_data">
                <div class="data">
                   <h4>John Wick</h4>
                   <p>02/10/2022</p>
                </div>
                <div class="data">
                  <h4>$72</h4>
                   <p>4 Tickets</p>
             </div>
           </div>
        </div>
        <div>
            <h2>Saved Cards</h2>
           <div><p>*****3434</p>
            <p>*****7693</p></div> 
        </div>
      
    </div>
</div>
</body>
</html>

